.category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding: 5px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  background-color: #b8b8b8;
}

.categories {
  position: relative;
  display: flex;
  flex-direction: row;
}

.action-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  border-radius: 5px;
}

.action-button:hover {
  background-color: rgb(66, 66, 66);
  color: #f5f7fb;
}

.container {
  position: relative;
}

.line {
  position: absolute;
  top: -10px;
  left: 50%;
  height: 20px;
  width: 3px;
  background-color: #9b9b9b;
}
