.controls-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  background: #f5f7fb;
  height: 50px;
  border-bottom: 1px solid #a7a7a7;
  z-index: 1;
}

.control-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #696969;
  background-color: #fdfcff;
  transition: color 0.2s ease;
  cursor: pointer;
}

.control-element:hover {
  background-color: #d1d4da;
  color: #f5f7fb;
}

.button {
  width: 30px;
  height: 30px;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 30px;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 5px #0000001a;
  width: 80px;
  cursor: pointer;
}

.scale-lis-element {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  height: 20px;
}
